NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=interplumb_inventory
DB_USER=postgres
DB_PASSWORD="King123@postgres"

CORS_ORIGIN=http://localhost:3000

LOW_STOCK_DEFAULT_THRESHOLD=5
EXCEL_SOURCE_PATH=C:/Users/Smart.David/Downloads/INTERPLUMB INVENTORY.xlsx
